{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Amazon/bootstrap.min.css' %}">
    <style type="text/css">
        img:hover{
            background-color: #414141;
            border-radius: 10px;
        }
        .nav-item:hover{
            background-color: #414141;
        }
        {% block style %}
        {% endblock %}
    </style>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Amazon Copy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'searchResult' %}" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       style="border-radius: 10px;" name="search">
                <button class="btn btn-outline-success" type="submit" style="border-radius: 10px;">Search</button>
            </form>
            <ul class="navbar-nav" style="float: right;margin-left: 10px">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">
                        <img src='https://img.icons8.com/dotty/80/000000/favorite-cart.png' width="30" height="30"
                             alt="My Cart" style="cursor: pointer;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'signIn' %}">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>