{% extends "Amazon/HTMLtemplate.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'Amazon/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'Amazon/indexStyle.css' %}">
{% endblock %}

{% block title %}
    AmazonCopy
{% endblock %}

{% block body %}

    {% for product in products %}
        <div id="viewProduct"
             style="border: 1px solid black;
         overflow: hidden;
         padding: 10px;
         height:130px;text-align: center; margin-bottom: 40px">
            <a href="{% url 'viewProduct' product.productName %}" style="cursor: pointer;">
                <img src="{{ product.productImage.url }}" width="80" height="130" style="float: left"
                     alt="Product Image">
            </a>
            <a href="{% url 'viewProduct' product.productName %}" style="cursor: pointer;">
                <label style="font-size: 30px; color: #0b7dda"><b>{{ product.productName }}</b></label>
            </a><br><br>
            <label style="font-size: 20px;">
                {{ product.productDescription|slice:150|safe }}
            </label><br>
            <br>
            <label style="font-size: 24px">
                <b>Rs.</b>
                <label style="text-decoration: line-through;font-size:14px">{{ product.productRealPrice }}</label>
                <b>{{ product.productDiscountedPrice }}</b>
            </label>
        </div>
    {% endfor %}

{% endblock %}