{% extends "Amazon/HTMLtemplate.html" %}
{% load static %}

{% block title %}
    AmazonCopy - Payment
{% endblock %}

{% block style %}
    .hide input{
        margin:20px;
    }
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'Amazon/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Amazon/css/baseStyle.css' %}">
    <script src="{% static 'Amazon/js/payment.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Amazon/css/paymentStyle.css' %}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-7">
                <h2 style="margin-bottom: 30px">Choose Payment Option</h2>
                <form method="post" class="form-control" action="{% url 'success' %}">
                    {% csrf_token %}
                    <label>
                        <input type="radio" name="paymentMethod">
                        Cash on Delivery<br>
                        <label class="text-muted">Pay for the Goods when you receive it on Your Doorstep.</label>
                    </label><br>
                    <hr>
                    <label>
                        <input type="radio" name="paymentMethod">
                        BHIM UPI<br>
                        <label class="text-muted">BHIM is an Indian mobile payment App developed by the National
                            Payments Corporation of India, based on the Unified Payments Interface.</label>
                    </label><br>
                    <hr>
                    <label>
                        <input type="radio" name="paymentMethod" id="card" onclick="checkForCard()">
                        Debit/Credit Card<br>
                        <label class="text-muted">A credit card is a card issued by a financial institution, typically a
                            bank, and it
                            enables the cardholder to borrow funds from that institution</label>
                    </label><br>
                    <hr>

                    <div class="text-center">
                        <button class="btn btn-success rounded continue" name="place" type="submit">
                            Place Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}