{% extends "Amazon/HTMLtemplate.html" %}
{% load static %}

{% block title %}
    AmazonCopy - Register
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'Amazon/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Amazon/css/register.css' %}">
{% endblock %}



{% block body %}
    <div class="container">
        <div class="row">
            <form method="post" class="offset-4 form">
                {% csrf_token %}
                <div>

                    <div class="panel-heading">
                        <h2><u><strong>
                            Create a Account
                        </strong></u></h2>
                    </div>
                    <div class="panel-body">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="form-group clearfix">
                            <label for="{{ form.username.label }}"><strong>Username:</strong></label>
                            {{ form.username }}
                        </div>
                        <br>
                        <div class="form-group clearfix">
                            <label for="{{ form.email.id_for_label }}">
                                <strong>Email:</strong></label>
                            {{ form.email }}
                        </div>
                        <br>
                        <div class="form-group clearfix">
                            <label for="{{ form.password.id_for_label }}">
                                <strong>Password:</strong></label>

                            {{ form.password1 }}
                        </div>
                    <br>
                        <div class="form-group clearfix">
                            <label for="{{ form.password_repeat.id_for_label }}">
                                <strong>Confirm password:</strong></label>

                            {{ form.password2 }}

                        </div>
                        <br>

                        <div class="text-center">
                            <input type="submit" value="Register" class="btn btn-success text-center">
                        </div>
                    </div>
                </div>
                <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a></p>
            </form>
        </div>
    </div>
{% endblock %}
