{% extends "Amazon/HTMLtemplate.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}
    AmazonCopy - Register
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'Amazon/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Amazon/css/baseStyle.css' %}">
{% endblock %}

{% block style %}
    ul{
    display:None;
    }
    .help-block{
    display:None;
    }
    #form{
    padding:10px;
    border:1px solid #313131;
    border-radius: 10px;
    }
    #form input{
    border-radius: 10px;
    border: 1px solid #414141;
    margin-bottom:-10px;
    }
    .form-group{
    margin-bottom: 10px;
    }
    .col-md-4{
    position: relative;
    left: 30%;
    top:30%;
    }
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <form method="post" id="form" class="form-control">
                    {% csrf_token %}
                    <div>

                        <div class="panel-heading text-center" style="margin-bottom: 10px;">
                            <h2><u><strong>
                                Create a Account, It's Free
                            </strong></u></h2>
                        </div>
                        <div class="panel-body">
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="form-group clearfix">
                                <label for="{{ form.username.label }}"><strong>Username:</strong></label>
                                {{ form.username | bootstrap_inline }}
                            </div>
                            <br>
                            <div class="form-group clearfix">
                                <label for="{{ form.email.id_for_label }}">
                                    <strong>Email:</strong></label>
                                {{ form.email | bootstrap_inline }}
                            </div>
                            <br>
                            <div class="form-group clearfix">
                                <label for="{{ form.password.id_for_label }}">
                                    <strong>Password:</strong></label>
                                {{ form.password1 | bootstrap_inline }}
                            </div>
                            <br>
                            <div class="form-group clearfix">
                                <label for="{{ form.password_repeat.id_for_label }}">
                                    <strong>Confirm password:</strong></label>
                                {{ form.password2 | bootstrap_inline }}
                            </div>
                            <br>

                            <div class="text-center" style="margin-bottom: 10px;">
                                <input type="submit" value="Register" class="btn btn-success">
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
